<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Confluence Cleanup Reminder</title>
<style>
    *{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    html,body{
        background: #eeeeee;
        font-family: 'Tahoma', sans-serif, Helvetica, Arial;
    }
    img{
        max-width: 100%;
    }
    /* This is what it makes reponsive. Double check before you use it! */
    @media only screen and (max-width: 480px){
        table tr td{
            width: 100% !important;
            float: left;
        }
    }
</style>
</head>

<body style="padding:0;margin:0;">

<center>
<table width="100%" cellpadding="0" cellspacing="0" bgcolor="FFFFFF" style="background: #ffffff; margin: 0 auto; background: #ffffff;">
    <tr>
        <td style="padding: 20px; text-align: center; background: #166afc;">
            <h1 style="color: #ffffff">Confluence Cleanup {{year}}</h1>
        </td>
    </tr>


    <tr>
        <td style="padding:20px;">
  
            <p>Below are stale Confluence pages that need attention. Stale pages haven't had updates or comments in the last 6 months.</p>
            <p>You have 2 weeks to update your pages. If you take no action, these pages will be archived.</p>

        </td>
    </tr>


    <tr>
        <td style="padding: 20px;">
        {{content}}
        </td>
    </tr>


    <tr>
        <td style="padding: 20px;">

            <table border="0" cellpadding="0">
                <tr>
                    <td width="30%" style="width: 30%; padding: 10px;">
                    </td>
                </tr>
                <tr>
                    <td width="70%" style="width: 70%; padding: 10px; text-align: left;">
                        <h4>Thank you for helping our library!</h4>
                    </td>
                </tr>
            </table>
        </td>
    </tr>


    <tr>
        <td style="padding: 20px; background: #2B2E34;">

            <table border="0" cellpadding="0" cellspacing="0" a style="color: #ffffff;">
                <tr>
                    <td width="50%" style="width: 50%; padding: 10px;text-align: left;" valign="top">
                        <h2>Why am I getting this email?</h2>
                        <p style="font-size: 14px;">If you're the original author of the page, you are assumed to be the owner. If the author is deactivated, then you may be a space admin. If all the space admins are deactivated, then Confluence admins are notified.</p>
                    </td>
                    <td width="50%" style="width: 50%; padding: 10px; color: #ffffff; text-align: left;" valign="top">
                        <h2>Are my private spaces checked?</h2>
                        <p style="font-size: 14px;">No, only public spaces are checked for staleness.</p>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


</center>

</body>
</html>