<h3>&#128216; <a href="{{baseUrl}}/wiki/spaces/{{spaceKey}}">{{spaceName}}</a></h3>
<ul style="list-style:none;">
{% for page in pages %}
<li>&#128196; <a href="{{baseUrl}}/wiki/spaces/{{spaceKey}}/pages/{{page.pageId}}/">{{page.title}}</a>
  <span style="font-size:12px;font-style:italic;color:#666666; "> (Last updated {{page.lastUpdated | pretty_date}})</span>
  <span style="font-size:13px">[<a href="{{baseUrl}}/wiki/spaces/{{spaceKey}}/pages/edit/{{page.pageId}}">edit</a>]</span>
</li>
{% endfor %}
</ul>